python-dateutil>=2.8.2
deprecation
jsonschema
pyyaml
requests
orjson
httpx
biothings-explorer>=1.1.0
pytest>=7.1.1
pytest-asyncio
pytest-harvest
pymongo
kgx
linkml
bmt>=0.8.12
reasoner-validator>=3.2.4
